@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    @apply bg-background-dark text-tertiary;
  }
  .light {
    @apply bg-background-light text-secondary;
  }

  * {
    @apply p-0 m-0 scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .size-selector input[type="radio"]:checked + label {
    @apply text-white bg-primary;
  }
  .color-selector input:checked + label {
    @apply ring-2 ring-primary;
  }

  .nav-link {
    @apply text-[15px]  transition-colors ease-in-out duration-500;
  }
}
@layer utilities {
  /* layout related styles like flex and grid */
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-baseline {
    @apply flex items-baseline;
  }

  .flex-between {
    @apply flex justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-column {
    @apply flex flex-col;
  }
  .grid-center {
    @apply grid justify-center;
  }

  /* heading related styles */

  .h3-semibold-lg-h2-semibold {
    @apply text-3xl font-semibold lg:text-4xl;
  }
  .h4-semibold-lg-h3-semibold {
    @apply text-2xl font-semibold lg:text-3xl;
  }
  .h4-medium {
    @apply text-2xl font-medium;
  }
  .h4-medium-lg-h3-medium {
    @apply text-2xl font-medium lg:text-3xl;
  }

  .h5-semibold {
    @apply text-xl font-semibold;
  }
  .h5-medium {
    @apply text-xl font-medium;
  }
  .h6-medium {
    @apply text-lg font-medium;
  }
  .h5-md-h4-medium {
    @apply text-xl font-medium md:text-2xl;
  }
  .h6-md-h5-lg-h3-bold {
    @apply text-lg font-bold md:text-xl lg:text-3xl;
  }
  .h6-md-h5-lg-h4 {
    @apply text-xl lg:text-3xl;
  }
  .paragraph-md-h6-medium {
    @apply text-sm font-medium md:text-lg;
  }

  .paragraph-md-h5-semibold {
    @apply text-sm font-semibold md:text-xl;
  }
  /* paragraph related styles */

  .paragraph-lg-base {
    @apply text-sm lg:text-base;
  }

  .extra-small-md-paragraph {
    @apply text-xs md:text-sm;
  }

  .paragraph-under-small {
    @apply text-[10px];
  }

  /* footer */
  .footer-link {
    @apply block text-base hover:text-secondary-dark;
  }
  .footer-title {
    @apply text-sm font-semibold tracking-wider uppercase;
  }
  .footer-social-link {
    @apply transition duration-300 ease-in-out hover:text-secondary-dark;
  }
  .product-title {
    @apply uppercase transition-all duration-300 ease-in-out paragraph-md-h6-medium hover:text-primary;
  }

  .section-title {
    @apply mb-5 uppercase h4-semibold-lg-h3-semibold;
  }
  .header-link {
    @apply relative text-center transition-all duration-300 ease-in-out text-secondary-dark dark:text-secondary-light;
  }

  /* filter section */
  .filter-section-title {
    @apply mb-3 uppercase h5-medium;
  }

  .filter-by-size {
    @apply text-xs font-semibold rounded cursor-pointer flex-center size-7 shadow-light-elevated_dark-elevated-dark;
  }

  /* button related styles */
  .btn-primary {
    @apply px-8 font-medium uppercase transition duration-500 ease-in-out border rounded-md text-background-light bg-primary border-primary hover:bg-transparent hover:text-primary;
  }
  .basic-btn {
    @apply px-8 font-medium uppercase transition duration-500 ease-in-out border rounded-md;
  }
  .shadow-light-elevated_dark-elevated-dark {
    @apply shadow-elevated dark:shadow-elevated-dark;
  }

  .paigination-button {
    @apply px-1.5 disabled:bg-secondary-light py-0.5 disabled:cursor-not-allowed text-sm border rounded-md;
  }
  .active-paigination-button {
    @apply bg-secondary-dark text-tertiary;
  }

  .quantity-icrease-decrease-btn {
    @apply text-xl transition-colors duration-500 cursor-pointer select-none flex-center hover:bg-primary hover:text-background-light disabled:cursor-not-allowed dark:disabled:bg-secondary disabled:bg-secondary-light;
  }

  /* card related*/
  .features-card {
    @apply gap-5 p-5 border rounded flex-center border-primary;
  }

  /* border related styles */

  .border-b-light-default_dark-tertiary {
    @apply border-b dark:border-tertiary/20;
  }
  .border-t-light-default_dark-tertiary {
    @apply border-t dark:border-tertiary/20;
  }
  .border-light-default_dark-tertiary {
    @apply border dark:border-tertiary/20;
  }

  /* divide  related styles*/
  .divide-x-light-default-dark-tertiary {
    @apply divide-x dark:divide-tertiary/20;
  }
  /* button related styles */

  .btn-shadow-light-defaut-dark-primary {
    @apply relative px-8 text-lg font-normal rounded shadow-light-elevated_dark-elevated-dark text-primary;
  }

  /* hover animation */

  .rounded-btn-with-inset-shadow {
    @apply text-xl transition-all duration-300 ease-in-out rounded-full shadow-custom-inset dark:shadow-custom-inset-dark hover:scale-105;
  }
  .input-field {
    @apply w-full font-normal transition-colors duration-500 ease-in-out bg-transparent border border-transparent shadow-custom-inset dark:shadow-custom-inset-dark focus:border-indigo-700/70 focus:outline-none focus:ring-0;
  }

  /* Order process container */
  .order-process-tab {
    @apply w-32 py-2 font-medium text-center capitalize transition-all duration-500 border-b-8 outline-none border-secondary-lighter;
  }

  .order-process-active-tab {
    @apply font-semibold transition-all duration-700 border-b-8 border-primary-light text-primary-light;
  }
}

.btn-shadow-with-hover-effect {
  @apply font-semibold transition-transform duration-500 ease-in-out rounded shadow-light-elevated_dark-elevated-dark hover:-translate-y-1;
}

.bg-overlay {
  @apply absolute inset-0 transition bg-black bg-opacity-40;
}

.magnifier-image {
  @apply object-cover h-[200px] md:h-[400px] w-full rounded !important;
}

.active-tab {
  @apply transition-all duration-300 text-primary-dark;
}
